@import "utils/variables";
@import "vendor/vendors";
@import "partials/header";
@import "partials/footer";

.test {
  background: green;
}

@font-face {
  font-family: "Minion Pro";
  src: url("https://db.onlinewebfonts.com/t/6dce067bd237090c3f61701876cad74c.eot");
  src: url("https://db.onlinewebfonts.com/t/6dce067bd237090c3f61701876cad74c.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6dce067bd237090c3f61701876cad74c.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/6dce067bd237090c3f61701876cad74c.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/6dce067bd237090c3f61701876cad74c.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/6dce067bd237090c3f61701876cad74c.svg#Minion Pro")
      format("svg");
}

@font-face {
  font-family: "StonePrintW00SC-SmbdSC";
  src: url("https://db.onlinewebfonts.com/t/858132b0ee6775b50baa3fb2e5d0e9ea.eot");
  src: url("https://db.onlinewebfonts.com/t/858132b0ee6775b50baa3fb2e5d0e9ea.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/858132b0ee6775b50baa3fb2e5d0e9ea.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/858132b0ee6775b50baa3fb2e5d0e9ea.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/858132b0ee6775b50baa3fb2e5d0e9ea.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/858132b0ee6775b50baa3fb2e5d0e9ea.svg#StonePrintW00SC-SmbdSC")
      format("svg");
}

html {
  font-size: 1em;
  overflow-x: hidden;
}
body {
  margin: 0;
  position: relative;
}
.overflow-hidden {
  overflow: hidden;
}
.container {
  border: 15px solid #2f4881;
  border-bottom: 0;
  margin: auto;
  position: relative;
  z-index: 2;
  background: #f3fbfd;
  max-width: 1080px;
}
.container:after {
  content: "";
  border: 2px solid #2f4881;
  height: calc(100% - 65px);
  width: calc(100% - 17px);
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: -1;
}
/*boot
strap row col*/

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
p {
  margin: 0;
  font-size: 2.1em;
  font-family: "Minion Pro";
}
img {
  width: 100%;
  height: auto;
  min-height: 1px; /* ie fix */

  display: block;
}
h1 {
  font-family: "StonePrintW00SC-SmbdSC";
  font-size: 3em;
  margin-bottom: 0px;
  margin-top: 5px;
}

hr {
  border: solid 1px #000;
}

/* spacing */
.logo {
  width: 700px;
  /* filter: invert(22%) sepia(97%) saturate(514%) hue-rotate(186deg)
    brightness(91%) contrast(88%); */
  margin: 2.65em 0 2em 0;
}

.logo-completion {
  width: 500px;
  filter: invert(22%) sepia(97%) saturate(514%) hue-rotate(186deg)
    brightness(91%) contrast(88%);
  margin: 2em 0 0.8em 0;
}

.main-image {
  max-width: 957px;
}

.main-image-mobile {
  max-width: 450px;
  margin: auto;
}
.main-image.negative-bottom-margin {
  padding: 0 50px;
}

.mb-5em {
  margin-bottom: 5.5em;
}
.mb-3em {
  margin-bottom: 3.5em;
}
.negative-bottom-margin {
  margin-bottom: -3.5em;
}

.separator {
  max-width: 700px;
  margin: 15px auto;
}
.dailystoic-website {
  font-size: 1.5em;
  background: #2f4881;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.text-center {
  text-align: center;
}

.seal {
  max-width: 270px;
  margin: auto;
  margin-left: 2.2em;
  margin-bottom: 2.2em;
  margin-top: 2.2em;
}

.signature {
  font-size: 1.5em;
}

.signature-image {
  max-width: 190px;
  margin: auto;
  margin-top: 2.4em;
}
.signature-separator {
  max-width: 250px;
}

.dailystoic-website > a {
  color: #bcd9e9;
  text-decoration: none;
}
.certbtn {
  background: #f3fbfd;
  border: 3px solid #2f4881;
  padding: 3px 25px;
  font-size: 1.5em;
  cursor: pointer;
  /* margin-top:25px;
    margin-bottom: 25px; */
  display: block;
  margin: 25px auto;
  text-align: center;
}
#input-name {
  padding: 3px 14px;
}
#input-name::placeholder {
  text-align: center;
}
#input-show,
#input-show-hidden {
  font-weight: bold;
}

/** FIXED HIDDEN IMAGE **/
#my-hidden-node {
  /* position:absolute;
    left: calc(-150% + 50px); */
  width: 1080px !important;
  max-width: 1080px !important;
}
#my-hidden-node .logo {
  width: 700px !important;
  max-width: 700px !important;
  margin-top: 30px !important;
  margin-bottom: 23px !important;
}
#my-hidden-node .main-image {
  display: block !important;
  max-width: 957px !important;
  margin-bottom: 88px !important;
}

#my-hidden-node .main-image-mobile {
  display: none !important;
}
#my-hidden-node .seal {
  max-width: 270px !important;
  width: 270px !important;

  margin-left: 35px !important;
  margin-bottom: 35px !important;
  margin-top: 35px !important;
}
#my-hidden-node .signature-image {
  max-width: 190px !important;
  width: 190px !important;
  margin-top: 26px !important;
}
#my-hidden-node .separator {
  max-width: 700px !important;
  margin: 15px auto !important;
}
#my-hidden-node .name-margin {
  margin-top: 0 !important;
}
#my-hidden-node p {
  font-size: 33.6px !important;
}
#my-hidden-node h1 {
  font-size: 48px !important;
}
#my-hidden-node .signature-separator {
  max-width: 250px !important;
}
#my-hidden-node .dailystoic-website {
  font-size: 24px !important;
}
#my-hidden-node .signature-fix {
  margin-right: 0 !important;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 reversed breakpoints
*/
/* extra Large devices  */
@media (max-width: 1200px) {
  html {
    font-size: 0.8em;
  }

  .container {
    max-width: 850px;
  }
  .main-image {
    max-width: 90%;
  }
  .logo,
  .logo-completion {
    max-width: 60%;
  }
  .separator {
    max-width: 60%;
  }
  .seal {
    max-width: 45%;
  }
  .signature-image {
    max-width: 30%;
  }
}

/* Large devices  */
@media (max-width: 992px) {
  html {
    font-size: 0.7em;
  }
  .negative-bottom-margin {
    margin-bottom: -2em;
  }

  .container {
    max-width: 700px;
  }
  .main-image {
    max-width: 80%;
  }
  .logo,
  .logo-completion {
    max-width: 50%;
  }
  .separator {
    max-width: 50%;
  }
  .seal {
    max-width: 35%;
  }
  .signature-image {
    max-width: 20%;
  }
  .signature-separator {
    max-width: 30%;
  }
  #input-name {
    padding: 3px 20px;
  }
}

/* Medium devices  */
@media (max-width: 768px) {
  html {
    font-size: 0.7em;
  }
  .container {
    max-width: 550px;
  }
  .main-image {
    display: none;
  }
  .logo,
  .logo-completion {
    max-width: 400px;
  }

  .seal {
    max-width: 170px;
  }
  .signature-image {
    max-width: 100px;
  }
  .separator {
    max-width: 70%;
    margin: 0px auto 55px auto;
  }
  .signature-separator {
    max-width: 140px;
  }
  .hidemobile {
    display: none;
  }

  .name-margin {
    margin-top: 60px;
    margin-bottom: 10px;
  }

  h1 {
    padding: 0 15px;
  }
  /* h1 > span {
    font-size: 1.4em;
    } */
}

/* Small devices  */
@media (max-width: 576px) {
  html {
    font-size: 0.6em;
  }
  .main-image-mobile {
    max-width: 300px;
  }
  .logo,
  .logo-completion {
    max-width: 280px;
  }
}

/* extra small devices */
@media (max-width: 450px) {
  html {
    font-size: 0.6em;
  }
  .main-image-mobile {
    max-width: 200px;
  }
  .logo,
  .logo-completion {
    max-width: 150px;
  }
  .separator {
    max-width: 200px;
  }
  .seal {
    max-width: 110px;
  }
  .signature-image {
    max-width: 60px;
  }
  .signature-separator {
    max-width: 100px;
  }

  .container:after {
    height: calc(100% - 55px);
  }
}

/* extra extra Small devices */
@media (max-width: 350px) {
  html {
    font-size: 0.5em;
  }
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

@media (min-width: 769px) {
  .main-image-mobile {
    display: none;
  }

  .signature-fix {
    margin-right: -60px;
  }
  .showdesktop {
    display: block;
  }
  .hidedesktop {
    display: none;
  }
}
